 h1{
            color: rgba(112, 9, 153, 0.829);
            background-color: rgb(172, 103, 236);
            text-align: center;
        }
        body{
            background-color: rgb(209, 178, 238);
        }
        .caixa {

            position: relative;
            width: 940px;
            margin: 0 auto;
        }
        nav {
           position absolute;
           top: 110px;
           right: 0;
        }
